In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [3]:
dataset_base_file_name = 'stack_overflow_datasets'
dataset_base_year = 'survey_results_'
dataset_years = list(range(2011,2021))
dataset_names = [f'{dataset_base_file_name}/{dataset_base_year}{year}.csv' for year in dataset_years]

In [4]:
dfs = [pd.read_csv(name) for name in dataset_names] # for the original dataset: encoding = "ISO-8859-1"

/Users/ismael/miniconda3/envs/minimal_ds/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (5,12) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/ismael/miniconda3/envs/minimal_ds/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

### Renaming column name to snake case format

In [5]:
import re
def camel_to_snake(name):
    # https://stackoverflow.com/a/1176023
    name = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
    return re.sub('([a-z0-9])([A-Z])', r'\1_\2', name).lower()

for df in dfs:
    df.columns = map(lambda name: camel_to_snake(name.replace(" ", "")), df.columns)

In [6]:
common_cols = set(dfs[0].columns.tolist())

In [7]:
common_cols

{'age',
 'annual_compensation',
 'company_size',
 'country',
 'industry',
 'job_satisfaction',
 'occupation',
 'os',
 'programming_languages',
 'project_type',
 'years_experience'}

In [34]:
def print_dataset_cols_difference():
    column_list = [df.columns.tolist() for df in dfs]
    for columns in column_list:
        print(common_cols - set(columns))

In [29]:
for df in dfs:
    columns_renamed={
        'salary': 'annual_compensation',
        'annueal_compensation': 'annual_compensation',
        'years_code': 'years_experience', 
        'years_program': 'years_experience', 
        'main_branch': 'occupation', 
        'job_sat': 'job_satisfaction',
        'op_sys': 'os',
        'operating_system': 'os',
        'language_worked_with': 'programming_languages',
        'have_worked_language': 'programming_languages',
        'tech_do': 'programming_languages',
        'programming_lalnguages': 'programming_languages',
    }
    df.rename(columns=columns_renamed, inplace=True)

In [35]:
print_dataset_cols_difference()

set()
set()
{'project_type'}
{'project_type', 'job_satisfaction', 'company_size'}
{'project_type', 'company_size'}
{'project_type'}
{'industry', 'occupation', 'age', 'project_type', 'os'}
{'project_type', 'industry', 'occupation', 'years_experience'}
{'project_type', 'industry', 'annual_compensation', 'company_size'}
{'project_type', 'industry', 'annual_compensation', 'company_size'}